#root {
  margin: 16px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}

#add-button{
  color: rgb(255, 255, 255);
  background-color: rgb(39, 85, 125);
}

#remove-button{
  background-color: red;
}
